<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
<appSettings>
<!-- Screen config -->
<add key="Fullscreen" value="true" />
<add key="ResX" value="1280" />
<add key="ResY" value="1024" />
<!-- Design config -->
<add key="FontFile" value="C:\Users\Got\Documents\Projects\MonoFe\MonoFe\Fonts\DIMITRI_.TTF" />
<add key="AnimatedStarsBackground" value="true" />
<add key="StarsAnimationSpeed" value="0,2" />
<add key="HexaRGBStarsColor" value="c6eefd" />
<add key="BackgroundImage" value="C:\Users\Got\Documents\Projects\MonoFe\MonoFe\Image\background.png" />
<add key="ApplicationLogo" value="C:\Users\Got\Documents\Projects\MonoFe\MonoFe\Image\logo.png" />
<add key="HexaRGBSelectedItemColor" value="72d5fa" />
<!-- Sound config -->
<add key="ChangeGameSound" value="C:\Users\Got\Documents\Projects\MonoFe\MonoFe\Sound\change_game.wav" />
<add key="ChangeEmulatorSound" value="C:\Users\Got\Documents\Projects\MonoFe\MonoFe\Sound\change_emulator.wav" />
<add key="MusicSound" value="C:\Users\Got\Documents\Projects\MonoFe\MonoFe\Sound\music.wav" />
<add key="PlayMusic" value="false" />
<!-- Emulators config -->
<add key="MameRomFolder" value="C:\Users\Got\Documents\Projects\MonoFe\MonoFe\Roms\Mame" />
<add key="MameInfos" value="C:\Users\Got\Documents\Projects\MonoFe\MonoFe\GameInfos\MAME.txt" />
<add key="MameCovers" value="C:\Users\Got\Documents\Projects\MonoFe\MonoFe\GameInfos\MameCovers" />
<add key="MameLogo" value="C:\Users\Got\Documents\Projects\MonoFe\MonoFe\Image\logo-mame.png" />
<add key="SnesRomFolder" value="C:\Users\Got\Documents\Projects\MonoFe\MonoFe\Roms\Snes" />
<add key="SnesInfos" value="C:\Users\Got\Documents\Projects\MonoFe\MonoFe\GameInfos\SNES.txt" />
<add key="SnesCovers" value="C:\Users\Got\Documents\Projects\MonoFe\MonoFe\GameInfos\SnesCovers" />
<add key="SnesLogo" value="C:\Users\Got\Documents\Projects\MonoFe\MonoFe\Image\logo-snes.png" />
</appSettings>
</configuration>
