<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
<appSettings>
<add key="Fullscreen" value="false" />
<add key="ResX" value="1280" />
<add key="ResY" value="1024" />
<add key="StarsAnimationSpeed" value="0,2" />
<add key="ApplicationLogo" value="C:\Users\Got\Documents\Projects\MonoFe\MonoFe\Image\logo.png" />
<add key="MameRomFolder" value="C:\Users\Got\Documents\Projects\MonoFe\MonoFe\Roms\Mame" />
<add key="SnesRomFolder" value="C:\Users\Got\Documents\Projects\MonoFe\MonoFe\Roms\Snes" />
<add key="MameTitleImage" value="C:\Users\Got\Documents\Projects\MonoFe\MonoFe\GameInfos\MameTitles" />
<add key="SnesTitleImage" value="C:\Users\Got\Documents\Projects\MonoFe\MonoFe\GameInfos\SnesTitles" />
<add key="MameInfos" value="C:\Users\Got\Documents\Projects\MonoFe\MonoFe\GameInfos\MAME.txt" />
<add key="SnesInfos" value="C:\Users\Got\Documents\Projects\MonoFe\MonoFe\GameInfos\SNES.txt" />
<add key="BackgroundImage" value="C:\Users\Got\Documents\Projects\MonoFe\MonoFe\Image\background.png" />
<add key="ChangeGameSound" value="C:\Users\Got\Documents\Projects\MonoFe\MonoFe\Sound\change_game.wav" />
<add key="ChangeEmulatorSound" value="C:\Users\Got\Documents\Projects\MonoFe\MonoFe\Sound\change_emulator.wav" />
<add key="MusicSound" value="C:\Users\Got\Documents\Projects\MonoFe\MonoFe\Sound\music.wav" />
<add key="PlayMusic" value="true" />
<add key="HexaRGBSelectedItemColor" value="72d5fa" />
<add key="HexaRGBStarsColor" value="c6eefd" />
</appSettings>
</configuration>
