<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
<appSettings>
<add key="Fullscreen" value="false" />
<add key="MameRomFolder" value="F:\Got\Roms\Mame" />
<add key="BackgroundImage" value="C:\Users\Got\Desktop\Projets\Borne arcade\metal-slug.jpg" />
<add key="MameInfos" value="C:\Users\Got\Desktop\Games\MAME.txt" />
</appSettings>
</configuration>
